{% extends "main.html" %}

{% block htmltitle %}
  {%- if page.is_homepage -%} 
    <title>Moonbeam Docs</title>
  {%- endif -%} 
{% endblock %}

{% block content %}
<div class="home">
  <div class="row">
    <div class="column hero-column">
      <h1 class="hero-title">Moonbeam Network Resources & Documentation</h1>
      <h3 class="hero-info">Moonbeam combines the best of both worlds: the familiar and easy-to-use tooling of Ethereum and the scalable, interoperable architecture of Polkadot.
        <br><br>
        Dive into the tools, integrations, and comprehensive tutorials to start using and building on Moonbeam.
      </h3>

      <div class="row hero-buttons">
        <a href="{{ config.site_url }}builders/get-started/">
          <button class="pink-primary-button md-button">Start Building <span class="md-icon">{% include ".icons/material/arrow-right.svg" %}</span></button>
        </a>
        <a href="{{ config.site_url }}learn/platform/welcome/">
          <button class="pink-secondary-button md-button">Learn the Basics <span class="md-icon">{% include ".icons/material/arrow-right.svg" %}</span></button>
        </a>
      </div>
    </div>
      
    <div class="column">
      <img class="hero" src="{{ 'assets/images/hero.png' }}" />
    </div>
  </div>
  <div class="row">
    <div class="card">
        <img src="{{ 'assets/images/builders.png' }}"/>
        <h2 class="card-title">Building on Moonbeam</h2>
        <p class="card-info">Learn how to get started developing your dApp with a Moonbeam development node, the Moonbase Alpha Testnet, or Moonriver</p>
        <a class="learn-more" href="{{ config.site_url }}builders/">Learn More <span>{% include ".icons/material/arrow-right.svg" %}</span></a>
        <div>
          <p class="card-info in-this-section">In this section</p>
          <a class="in-this-section-item" href="{{ config.site_url }}builders/get-started/moonriver/">
            <span><img src="{{ 'assets/images/page.png' }}"/></span>
            How to connect to a Moonriver endpoint
          </a>
          <a class="in-this-section-item" href="{{ config.site_url }}builders/deploy-a-contract/">
            <span><img src="{{ 'assets/images/page.png' }}"/></span>
            Deploy a smart contract
          </a>
        </div>
    </div>
    <div class="card">
        <img src="{{ 'assets/images/tokens.png' }}"/>
        <h2 class="card-title">Using Your MOVR & GLMR Tokens</h2>
        <p class="card-info">Learn about tokens and how to use em!</p>
        <a class="learn-more" href="{{ config.site_url }}tokens/">Learn More <span>{% include ".icons/material/arrow-right.svg" %}</span></a>
        <div>
          <p class="card-info in-this-section">In this section</p>
          <a class="in-this-section-item" href="{{ config.site_url }}tokens/connect-to-moonbeam/using-metamask/">
            <span><img src="{{ 'assets/images/page.png' }}"/></span>
            How to connect MetaMask to Moonriver
          </a>
          <a class="in-this-section-item" href="{{ config.site_url }}tokens/staking/how-to-stake/">
            <span><img src="{{ 'assets/images/page.png' }}"/></span>
            How to stake (nominate) a collator
          </a>
        </div>
    </div>
    <div class="card">
        <img src="{{ 'assets/images/node-operators.png' }}"/>
        <h2 class="card-title">Operating a Node</h2>
        <p class="card-info">Everything you need to know about running a node on Moonbeam and Moonriver, how to become a collator, and more</p>
        <a class="learn-more" href="{{ config.site_url }}node-operators/">Learn More <span>{% include ".icons/material/arrow-right.svg" %}</span></a>
        <div>
          <p class="card-info in-this-section">In this section</p>
          <a class="in-this-section-item" href="{{ config.site_url }}node-operators/networks/run-a-node/">
            <span><img src="{{ 'assets/images/page.png' }}"/></span>
            Why run a Moonbeam node?
          </a>
          <a class="in-this-section-item" href="{{ config.site_url }}node-operators/networks/run-a-node/">
            <span><img src="{{ 'assets/images/page.png' }}"/></span>
            Setting up a node on Moonriver
          </a>       
        </div>
    </div>
    <div class="card">
        <img src="{{ 'assets/images/learn.png' }}"/>
        <h2 class="card-title">Learning about Moonbeam</h2>
        <p class="card-info">Dive into the Moonbeam ecosystem and learn what makes this approach to Ethereum compatability so compelling</p>
        <a class="learn-more" href="{{ config.site_url }}learn/">Learn More <span>{% include ".icons/material/arrow-right.svg" %}</span></a>
        <div>
          <p class="card-info in-this-section">In this section</p>
          <a class="in-this-section-item" href="{{ config.site_url }}learn/platform/">
            <span><img src="{{ 'assets/images/page.png' }}"/></span>
            Moonbeam network overview
          </a>
          <a class="in-this-section-item" href="{{ config.site_url }}learn/dapps-list/">
            <span><img src="{{ 'assets/images/page.png' }}"/></span>
            Explore the DApp directory
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block site_nav %}
{% endblock %}
