{% extends "main.html" %}

{% block htmltitle %}
{%- if page.is_homepage -%}
<title>Moonbeam Docs</title>
{%- endif -%}
{% endblock %}

{% block content %}
<div class="home">
  <div class="row hero">
    <div class="column hero-column">
      <h1 class="hero-title">Moonbeam Network Resources & Documentation</h1>
      <h3 class="hero-info">Moonbeam combines the best of both worlds: the familiar and easy-to-use tooling of Ethereum
        and the scalable, interoperable architecture of Polkadot.
        <br><br>
        Dive into the tools, integrations, and comprehensive tutorials to start using and building on Moonbeam.
      </h3>

      <div class="row hero-buttons">
        <a href="/builders/get-started/">
          <button class="pink-primary-button md-button">Start Building <span class="md-icon">{% include
              ".icons/material/arrow-right.svg" %}</span></button>
        </a>
        <a href="/learn/platform/welcome/">
          <button class="pink-secondary-button md-button">Learn the Basics <span class="md-icon">{% include
              ".icons/material/arrow-right.svg" %}</span></button>
        </a>
      </div>
      <div class="row quick-refs">
        <p class="quick-ref-title">Quick References</p>
        <div class="quick-ref-buttons">
          <a href="/builders/get-started/eth-compare/">
            <button class="md-button quick-ref-button">Moonbeam vs Ethereum</button>
          </a>
          <a href="/builders/interact/canonical-contracts/">
            <button class="md-button quick-ref-button">Canonical Contracts</button>
          </a>
          <a href="/builders/get-started/endpoints/">
            <button class="md-button quick-ref-button">Network Endpoints</button>
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <img class="hero-img" src="{{ '/assets/images/hero.png' }}" />
    </div>
  </div>
  <div class="row cards">
    <div class="card">
      <div>
        <img src="{{ '/assets/images/builders.png' }}" />
      </div>
      <div>
        <a href="/builders/">
          <h2 class="card-title">Building on Moonbeam</h2>
        </a>
      </div>
      <div>
        <p class="card-info">Learn how to build a new application or deploy existing Solidity/Vyper smart contracts to
          Moonbeam, Moonriver, or the Moonbase Alpha TestNet.</p>
      </div>
      <div>
        <a class="learn-more" href="/builders/">Learn More <span>{% include
            ".icons/material/arrow-right.svg" %}</span></a>
      </div>
      <div>
        <p class="card-info in-this-section">In this section</p>
        <div class="in-this-section-item">
          <img src="{{ '/assets/images/page.png' }}" />
          <a class="in-this-section-link" href="/builders/get-started/moonriver/">
            How to connect to a Moonriver endpoint
          </a>
        </div>
        <div class="in-this-section-item">
          <img src="{{ '/assets/images/page.png' }}" />
          <a class="in-this-section-link" href="/builders/interact/">
            How to use Ethereum tools to deploy a contract on Moonbeam
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div>
        <img src="{{ '/assets/images/tokens.png' }}" />
      </div>
      <div>
        <a href="/tokens/">
          <h2 class="card-title">Using Your MOVR & GLMR Tokens</h2>
        </a>
      </div>
      <div>
        <p class="card-info">A series of guides showing you how and where you can use your MOVR and GLMR tokens with
          wallets/DApps or earn rewards through staking.</p>
      </div>
      <div>
        <a class="learn-more" href="/tokens/">Learn More <span>{% include
            ".icons/material/arrow-right.svg" %}</span></a>
      </div>
      <div>
        <p class="card-info in-this-section">In this section</p>
        <div class="in-this-section-item">
          <img src="{{ '/assets/images/page.png' }}" />
          <a class="in-this-section-link" href="/tokens/connect/metamask/">
            How to connect MetaMask to Moonriver
          </a>
        </div>
        <div class="in-this-section-item">
          <img src="{{ '/assets/images/page.png' }}" />
          <a class="in-this-section-link" href="/tokens/staking/stake/">
            How to stake (nominate) a collator
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div>
        <img src="{{ '/assets/images/node-operators.png' }}" />
      </div>
      <div>
        <a href="/node-operators/">        
          <h2 class="card-title">Operating a Node</h2>
        </a>
      </div>
      <div>
        <p class="card-info">Everything you need to know about running a node on Moonbeam and Moonriver, how to become a
          collator, and more.</p>
      </div>
      <div>
        <a class="learn-more" href="/node-operators/">Learn More <span>{% include
            ".icons/material/arrow-right.svg" %}</span></a>
      </div>
      <div>
        <p class="card-info in-this-section">In this section</p>
        <div class="in-this-section-item">
          <img src="{{ '/assets/images/page.png' }}" />
          <a class="in-this-section-link" href="/node-operators/networks/full-node/">
            Setting up a Moonbeam-based node
          </a>
        </div>
        <div class="in-this-section-item">
          <img src="{{ '/assets/images/page.png' }}" />
          <a class="in-this-section-link" href="/node-operators/networks/telemetry/">
            Enable telemetry for your Moonbeam-based node
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div>
        <img src="{{ '/assets/images/learn.png' }}" />
      </div>
      <div>
        <a href="/learn/">
          <h2 class="card-title">Learning About Moonbeam</h2>
        </a>
      </div>
      <div>
        <p class="card-info">Dive into the Moonbeam ecosystem and learn what makes this approach to Ethereum compatability
          so compelling.</p>
      </div>
      <div>
        <a class="learn-more" href="/learn/">Learn More <span>{% include
            ".icons/material/arrow-right.svg" %}</span></a>
      </div>
      <div>
        <p class="card-info in-this-section">In this section</p>
        <div class="in-this-section-item">
          <img src="{{ '/assets/images/page.png' }}" />
          <a class="in-this-section-link" href="/learn/platform/networks/overview/">
            Moonbeam network overview
          </a>
        </div>
        <div class="in-this-section-item">
          <img src="{{ '/assets/images/page.png' }}" />
          <a class="in-this-section-link" href="/learn/dapps-list/">
            Explore the DApp directory
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block site_nav %}
{% if nav %}
{% if page and page.meta and page.meta.hide %}
{% set hidden = "hidden" if "navigation" in page.meta.hide %}
{% endif %}
<div class="md-sidebar md-sidebar--primary home" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      {% include "partials/nav.html" %}
    </div>
  </div>
</div>
{% endif %}
{% if page.toc and not "toc.integrate" in features %}
{% if page and page.meta and page.meta.hide %}
{% set hidden = "hidden" if "toc" in page.meta.hide %}
{% endif %}
<div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ hidden }}>
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      {% include "partials/toc.html" %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}