{% extends "base.html" %}

{% block libs %}
  {{ super() }}
  <link rel="preconnect" href="https://widget.kapa.ai/">
  <style data-emotion="mantine" data-s=""></style>
    <script defer
      src="https://widget.kapa.ai/kapa-widget.bundle.js"
      data-website-id="d902d9ae-b379-4a22-bb35-b78b4c601d3b"
      data-project-name="Moonbeam"
      data-project-color="rgb(48, 47, 83)"
      data-project-logo="/images/moonbot.webp"
      data-button-position-right="40px"
      data-button-position-bottom="40px"
      data-button-border-radius="4px"
      data-modal-border-radius="4px"
      data-search-show-more-button-text-color="#000"
      data-font-family="Banana Grotesk"
      data-footer-tos-privacy-links='[{"title": "terms of service", "url": "https://moonbeam.network/terms-of-use"}, {"title": "privacy policy", "url": "https://moonbeam.network/privacy-policy"}]'
    ></script>
    <script defer>
      document.addEventListener('DOMContentLoaded', function () {
        document.body.addEventListener('click', (event) => {
          if (event.target.id === 'kapa-widget-container') {
            event.target.addEventListener('keydown', (event) => {
              event.stopPropagation();
            });
          }
        });
      });
    </script>
{% endblock %}

{% block fonts %}
  {{ super() }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block site_meta %}
  {{ super() }}
  {% if page and page.meta and page.meta.keywords %}
    <meta name="keywords" content="{{ page.meta.keywords }}">
  {% endif %}
{% endblock %}

{%- block htmltitle -%} 
  {%- if page.is_homepage -%} 
    <title>Documentation for the Moonbeam Smart Contract Platform</title> 
  {%- elif page and page.meta and page.meta.title -%} 
    <title>{{ page.meta.title }} | {{ config.site_name }}</title> 
  {%- elif page and page.title and not page.is_homepage -%} 
    <title>{{ page.title }} | {{ config.site_name }}</title> 
  {%- else -%}
    <title>{{ config.site_name }}</title> 
  {%- endif -%} 
{%- endblock -%} 

{% block announce %}
  <p>As of Runtime 3400, the minimum gas price has been reduced by 4x to 31.25 Gwei. 
     Learn more about <a href="https://github.com/moonbeam-foundation/moonbeam/pull/3058">the new minimum gas price</a>.</p>
{% endblock %}