{% extends "base.html" %}

{% block libs %}
  {{ super() }}
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/@cookbookdev/docsbot/dist/standalone/index.cjs.js" as="script">
  <script>
    function initAskCookbook() {
      // It's a public API key, so it's safe to expose it here
      const PUBLIC_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2Nzg3ZmM2YzVhMzY3MzMwYWUxOTQyMGMiLCJpYXQiOjE3MzY5NjUyMjgsImV4cCI6MjA1MjU0MTIyOH0.6MzOf-HmsuuSwtdSvuqvQknRWKUSgt91VJ05sw3OY6I";

      let cookbookContainer = document.getElementById("__cookbook");
      if (!cookbookContainer) {
        cookbookContainer = document.createElement("div");
        cookbookContainer.id = "__cookbook";
        cookbookContainer.dataset.apiKey = PUBLIC_API_KEY;
        document.body.appendChild(cookbookContainer);
      }

      let cookbookScript = document.getElementById("__cookbook-script");
      if (!cookbookScript) {
        cookbookScript = document.createElement("script");
        cookbookScript.id = "__cookbook-script";
        cookbookScript.src = "https://cdn.jsdelivr.net/npm/@cookbookdev/docsbot/dist/standalone/index.cjs.js";
        cookbookScript.async = true;
        document.head.appendChild(cookbookScript);
      }
    }

    // Check if the document is already loaded and if so, initialize the script, otherwise wait for the load event
    if (document.readyState === "complete") {
      initAskCookbook();
    } else {
      window.addEventListener("load", initAskCookbook);
    }
  </script>
{% endblock %}

{% block fonts %}
  {{ super() }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block site_meta %}
  {{ super() }}
  {% if page and page.meta and page.meta.keywords %}
    <meta name="keywords" content="{{ page.meta.keywords }}">
  {% endif %}
{% endblock %}

{%- block htmltitle -%} 
  {%- if page.is_homepage -%} 
    <title>Documentation for the Moonbeam Smart Contract Platform</title> 
  {%- elif page and page.meta and page.meta.title -%} 
    <title>{{ page.meta.title }} | {{ config.site_name }}</title> 
  {%- elif page and page.title and not page.is_homepage -%} 
    <title>{{ page.title }} | {{ config.site_name }}</title> 
  {%- else -%}
    <title>{{ config.site_name }}</title> 
  {%- endif -%} 
{%- endblock -%} 

{% block announce %}
  <p>As of Runtime 3400, the minimum gas price has been reduced by 4x to 31.25 Gwei. 
     Learn more about <a href="https://github.com/moonbeam-foundation/moonbeam/pull/3058">the new minimum gas price</a>.</p>
{% endblock %}

{% block site_nav %}
  {#- Navigation (left menu) -#}
  {% if nav %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}
    <div
      class="md-sidebar md-sidebar--primary"
      data-md-component="sidebar"
      data-md-type="navigation"
      {{ hidden }}
    >
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/nav.html" %}
        </div>
      </div>
    </div>
  {% endif %}

  {#- Table of contents (TOC) -#}
  {% if "toc.integrate" not in features %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "toc" in page.meta.hide %}
    {% endif %}
    <div
      class="md-sidebar md-sidebar--secondary"
      data-md-component="sidebar"
      data-md-type="toc"
      {{ hidden }}
    >
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {#- TOC -#}
          {% include "partials/toc.html" %}
        </div>

        {#- Feedback and Edit this page container -#}
        <div class="feedback-actions-container">
          {#- Feedback Section -#}
          <div class="feedback-section">
            {% include "partials/feedback.html" %}
          </div>

          {#- Edit this Page Section -#}
          <div class="edit-section">
            {% include "partials/actions.html" %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}