{% extends "main.html" %}

{% block content %}
<div class="main-page">
  {% if nav|length>1 %}
    {% for nav_item in nav %}
      {% if nav_item.is_section and nav_item.active %}
      <h1 class="subsection-title">{{ nav_item.title }}</h1>
      <div class="subsection-wrapper">
        {% for nav_item in nav_item.children %}
          {% if nav_item.is_section %}
            <div class="card">
              <a href="{{ href_path }}">
                {% set subsection_path = nav_item.children[0].url %}
                {% set description = nav_item.children[0].meta.description %}
                {% if subsection_path.startswith(page.url) %}
                  {% set image_path = '/images/index-pages/' + subsection_path[:-1] + '.png' %}
                  {% set href_path = subsection_path|replace(page.url, '') %}
                  <h2 class="title">{{ nav_item.title }}</h2>
                  <p class="description">{{ description }}</p>
                  <!-- <img class="icon" src="{{ image_path }}"
                      onerror="this.src=/images/index-pages/blank.png; this.onerror = null"> -->
                {% endif %}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div class="disclaimer">All information made available, including claims, content, designs, algorithms, estimates,
        roadmaps, specifications, and performance measurements described in this project are provided for informational
        purposes only and Moonbeam does not endorse any project referenced here. It is up to the reader to check and
        validate the accuracy and truthfulness. Furthermore, nothing in this project information constitutes a
        solicitation for investment. No developer or entity involved in creating the Moonbeam Network or Moonriver
        Network or authoring this information will be liable for any claims or damages whatsoever associated with your
        use, inability to use, or your interaction with other users of, the Moonbeam Network or Moonriver Network or any
        information made available on this website, including any direct, indirect, incidental, special, exemplary,
        punitive or consequential damages, or loss of profits, cryptocurrencies, tokens, or anything else of value. All
        information contained herein is subject to modification without notice.</div>
</div>
{% endblock %}