{% extends "base.html" %}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ '/assets/stylesheets/moonbeam.css' | url }}">
{% endblock %}

{% block fonts %}
  {{ super() }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
{% endblock%}

{% block site_meta %}
  {{ super() }}
  {% if page and page.meta and page.meta.keywords %}
    <meta name="keywords" content="{{ page.meta.keywords }}">
  {% endif %}
{% endblock %}

{%- block htmltitle -%} 
  {%- if page.is_homepage -%} 
    <title>Documentation for the Moonbeam Smart Contract Platform</title> 
  {%- elif page and page.meta and page.meta.title -%} 
    <title>{{ page.meta.title }} | {{ config.site_name }}</title> 
  {%- elif page and page.title and not page.is_homepage -%} 
    <title>{{ page.title }} | {{ config.site_name }}</title> 
  {%- else -%}
    <title>{{ config.site_name }}</title> 
  {%- endif -%} 
{%- endblock -%} 
