{% extends "main.html" %}

{% block content %}

{% macro find_active_page(element, nav) %}
  {% for nav_item in element %}
    {% if nav_item.active %}
      {% if nav_item.is_section %}
        <!-- continue to find active page -->
        {{ find_active_page(nav_item.children, nav) }}
      {% else %}
        <!-- render subsection content -->
        {% if nav_item.is_page %}
          <h1 class="subsection-title">{{ nav_item.parent.title }}</h1>
          <div class="subsection-wrapper">
          {% set description = "" %}
          {% for nav_item in element[1:] %}
            {% if nav_item.is_section %}
              {% set subsection_path = nav_item.children[0].url %}
              {% set description = nav_item.children[0].meta.description %}
            {% else %}
              {% set subsection_path = nav_item.url %}
              {% if nav_item.meta %}
                {% set description = nav_item.meta.description %}
              {% endif %}
            {% endif %}

            <div class="card">
              <a href="{{ subsection_path|replace(page.url, '') }}">
                <h2 class="title">{{ nav_item.title }}</h2> 
                {% if not description == "" %}
                  <p class="description">{{ description }}</p>
                {% else %}
                  {% if nav_item.is_link %}
                    {% if '#' in nav_item.url %}
                      {% set nav_item_url = nav_item.url.split('#')[0] %}
                    {% else %}
                      {% set nav_item_url = nav_item.url %}
                    {% endif %}

                    {% if nav_item_url.startswith('/') %}
                      {% set nav_item_url = nav_item_url[1:] %}
                    {% endif %}

                    {% for nav_child in nav.children %}
                      {{ find_desc_for_linked_pages(nav_child, nav_item_url, description) }}
                    {% endfor %}
                  {% endif %}
                {% endif %}
              </a>    
            </div>
          {% endfor %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% set most_nested_active_element = None %}
  {% if element.active == True %}
    {{ element }}
    {% set most_nested_active_element = element %}
  {% endif %}

  {% if element.active and element.children %}
    {% for child in element.children %}
      {% set nested_active_element = find_active_page(child) %}
      {% if nested_active_element != none %}
        {% set most_nested_active_element = nested_active_element %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro find_desc_for_linked_pages(nav, nav_item_url, description) %}
    {% if nav.is_section %}
      {% for nav_item in nav.children %}
        {% if nav_item.is_page and nav_item.url in nav_item_url %}
          {% if nav_item.url == nav_item_url %}
            <p class="description">{{ nav_item.meta.description }}</p>
            {% set description = nav_item.meta.description %}
          {% endif %}
        {% endif %}
        {% if description == "" %}
          {{ find_desc_for_linked_pages(nav_item, nav_item_url, description) }}
        {% endif %}
      {% endfor %}     
    {% endif %}
{% endmacro %}

<div class="subsection-page">
  {% if nav|length>1 %}
    {% for nav_item in nav %}
      {% if nav_item.is_section and nav_item.active %}
        {{ find_active_page(nav_item.children, nav_item) }}
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
{% endblock %}