{% extends "main.html" %}

{% block content %}

{% macro find_active_page(element) %}

  {% for nav_item in element %}
    {% if nav_item.active %}
      {% if nav_item.is_section %}
        <!-- continue to find active page -->
        {{ find_active_page(nav_item.children) }}
      {% else %}
        <!-- render subsection content -->
        {% if nav_item.is_page %}
          <h1 class="subsection-title">{{ nav_item.parent.title }}</h1>
          <div class="subsection-wrapper">
          {% for nav_item in element[1:] %}
            {% if nav_item.is_section %}
              {% set subsection_path = nav_item.children[0].url %}
            {% else %}
              {% set subsection_path = nav_item.url %}
            {% endif %}
            <!-- for pages that point to sections within other pages -->
            {% if '#' in subsection_path %} 
              <!-- remove the section from the path -->
              {% set subsection_path = subsection_path.split('#')[0] %}
            {% endif %}
            {% if subsection_path.startswith('/') %}
              <!-- remove initial '/' from relative path -->
              {% set subsection_path = subsection_path[1:] %}
            {% endif %}
            {% if not subsection_path.endswith('/') %}
              <!-- add '/' to end of path to match all of the other urls -->
              {% set subsection_path = subsection_path + '/' %}
            {% endif %}
            {% set image_path = '/images/index-pages/' + subsection_path[:-1] + '.png' %}
            <div class="card">
              <a href="{{ subsection_path|replace(page.url, '') }}">
                <h2 class="title">{{ nav_item.title }}</h2> 
                <img class="icon" src="{{ image_path }}">
              </a>    
            </div>
          {% endfor %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% set most_nested_active_element = None %}
  {% if element.active == True %}
    {{ element }}
    {% set most_nested_active_element = element %}
  {% endif %}

  {% if element.active and element.children %}
    Hei
    {% for child in element.children %}
      Here
      {% set nested_active_element = find_active_page(child) %}
      {% if nested_active_element != none %}
        {% set most_nested_active_element = nested_active_element %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

<div class="subsection-page">
    {% if nav|length>1 %}
      {% for nav_item in nav %}
        {% if nav_item.is_section and nav_item.active %}
          {{ find_active_page(nav_item.children) }}
        {% endif %}
      {% endfor %}
    {% endif %}
</div>
{% endblock %}