site_name: Moonbeam Docs
site_url: https://docs.moonbeam.network/cn/
home_url: https://moonbeam.network/
site_dir: /var/www/mkdocs-multi-lang/moonbeam-docs-cn-static
docs_dir: moonbeam-docs-cn
copyright: © 2024 Moonbeam Foundation. All Rights Reserved.
extra_javascript:
  - js/connectMetaMask.js
  - js/errorModal.js
  - js/networkModal.js
  - js/handleLanguageChange.js
  - js/fixCreatedDate.js
  - js/externalLinkModal.js
extra_css:
  - /assets/stylesheets/moonbeam.css
  - /assets/stylesheets/termynal.css
theme:
  language: zh
  name: material
  custom_dir: material-overrides
  favicon: /assets/images/favicon.webp
  logo: /assets/images/logo.webp
  font:
    text: Banana Grotesk
  features:
    - announce.dismiss
    - content.code.copy
    - navigation.indexes
    - navigation.instant
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
markdown_extensions:
  - codehilite
  - meta
  - toc:
      permalink: true
      title: Sections
  - admonition
  - pymdownx.snippets:
      base_path: moonbeam-docs-cn/.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - material-overrides/.icons
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
  - pymdownx.details
  - attr_list
validation:
  absolute_links: ignore
  unrecognized_links: ignore
exclude_docs: README.md
plugins:
  - search
  - awesome-nav
  - git-revision-date-localized:
      exclude:
        - .snippets/*
      enable_creation_date: !ENV ENABLED_GIT_REVISION_DATE, True
  # - privacy
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      js_files:
        - js/connectMetaMask.js
        - js/errorModal.js
        - js/networkModal.js
        - js/handleLanguageChange.js
        - js/fixCreatedDate.js
        - js/externalLinkModal.js
      css_files:
        - /assets/stylesheets/termynal.css
        - /assets/stylesheets/moonbeam.css
  - redirects:
      redirect_maps:
        builders/build/eth-api/dev-env/truffle.md: builders/dev-env/index.md
        builders/get-started/moonriver.md: index.md
        builders/get-started/networks/layer2/bobabeam.md: index.md
        builders/interoperability/xcm/xc-integration.md: index.md
        builders/interoperability/xcm/xc20/mintable-xc20.md: index.md
        builders/xcm/index.md: index.md
        builders/xcm/overview.md: index.md
        builders/xcm/xc20/index.md: index.md
        builders/xcm/xc20/overview.md: index.md
        builders/xcm/xc-integration.md: index.md
        getting-started/moonbase/faucet.md: index.md
        learn/dapps-list/dtmb.md: index.md
        networks/moonbase.md: index.md
        tutorials/eth-api/truffle-start-to-end.md: index.md
        builders/build/canonical-contracts.md: index.md
        builders/build/eth-api/debug-trace.md: index.md
        builders/build/eth-api/dev-env/brownie.md: index.md
        builders/build/eth-api/dev-env/openzeppelin/defender.md: index.md
        builders/build/eth-api/dev-env/openzeppelin/index.md: index.md
        builders/build/eth-api/dev-env/openzeppelin/overview.md: index.md
        builders/build/eth-api/dev-env/scaffold-eth.md: index.md
        builders/build/eth-api/dev-env/waffle-mars.md: index.md
        builders/build/eth-api/index.md: index.md
        builders/build/eth-api/pubsub.md: index.md
        builders/build/eth-api/verify-contracts/api-verification.md: index.md
        builders/build/eth-api/verify-contracts/block-explorers.md: index.md
        builders/build/eth-api/verify-contracts/etherscan-plugins.md: index.md
        builders/build/eth-api/verify-contracts/index.md: index.md
        builders/build/historical-updates.md: index.md
        builders/build/index.md: index.md
        builders/build/moonbeam-custom-api.md: index.md
        builders/build/substrate-api/chopsticks.md: index.md
        builders/build/substrate-api/index.md: index.md
        builders/build/substrate-api/overview.md: index.md
        builders/build/substrate-api/polkadot-js-api.md: index.md
        builders/build/substrate-api/py-substrate-interface.md: index.md
        builders/build/substrate-api/sidecar.md: index.md
        builders/build/eth-api/dev-env/foundry.md: builders/dev-env/foundry.md
        builders/build/eth-api/dev-env/hardhat.md: builders/dev-env/hardhat.md
        builders/build/eth-api/dev-env/index.md: builders/dev-env/index.md
        builders/build/eth-api/dev-env/openzeppelin/contracts.md: builders/dev-env/oz-contracts.md
        builders/build/eth-api/dev-env/remix.md: builders/dev-env/remix.md
        builders/build/eth-api/dev-env/tenderly.md: builders/dev-env/tenderly.md
        builders/build/eth-api/dev-env/thirdweb.md: builders/dev-env/thirdweb.md
        builders/get-started/endpoints.md: index.md
        builders/get-started/eth-compare/balances.md: index.md
        builders/get-started/eth-compare/consensus-finality.md: index.md
        builders/get-started/eth-compare/index.md: index.md
        builders/get-started/eth-compare/rpc-support.md: index.md
        builders/get-started/eth-compare/security.md: index.md
        builders/get-started/eth-compare/transfers-api.md: index.md
        builders/get-started/eth-compare/tx-fees.md: index.md
        builders/get-started/explorers.md: index.md
        builders/get-started/index.md: index.md
        builders/get-started/networks/index.md: index.md
        builders/get-started/networks/moonbase.md: index.md
        builders/get-started/networks/moonbeam-dev.md: index.md
        builders/get-started/networks/moonbeam.md: index.md
        builders/get-started/networks/moonriver.md: index.md
        builders/get-started/quick-start.md: index.md
        builders/get-started/token-profile.md: index.md
        builders/integrations/analytics/dapplooker.md: index.md
        builders/integrations/analytics/index.md: index.md
        builders/integrations/gaming/index.md: index.md
        builders/integrations/gaming/metafab.md: index.md
        builders/integrations/indexers/covalent.md: index.md
        builders/integrations/indexers/index.md: index.md
        builders/integrations/indexers/subquery.md: index.md
        builders/integrations/indexers/subsquid.md: index.md
        builders/integrations/indexers/thegraph.md: index.md
        builders/integrations/wallets/metamask.md: builders/integrations/metamask.md
        builders/integrations/oracles/api3.md: index.md
        builders/integrations/oracles/band-protocol.md: index.md
        builders/integrations/oracles/chainlink.md: index.md
        builders/integrations/oracles/index.md: index.md
        builders/integrations/oracles/razor-network.md: index.md
        builders/integrations/wallets/particle-network.md: builders/integrations/particle-network.md
        builders/integrations/wallets/walletconnect.md: builders/integrations/walletconnect.md
        builders/integrations/wallets/index.md: index.md
        builders/interoperability/index.md: index.md
        builders/interoperability/mrl.md: index.md
        builders/interoperability/protocols/axelar.md: index.md
        builders/interoperability/protocols/hyperlane.md: index.md
        builders/interoperability/protocols/index.md: index.md
        builders/interoperability/protocols/layerzero.md: index.md
        builders/interoperability/protocols/wormhole.md: index.md
        builders/interoperability/xcm/fees.md: index.md
        builders/interoperability/xcm/index.md: index.md
        builders/interoperability/xcm/overview.md: index.md
        builders/interoperability/xcm/remote-evm-calls.md: index.md
        builders/interoperability/xcm/send-execute-xcm.md: index.md
        builders/interoperability/xcm/xc-registration/assets.md: index.md
        builders/interoperability/xcm/xc-registration/forum-templates.md: index.md
        builders/interoperability/xcm/xc-registration/index.md: index.md
        builders/interoperability/xcm/xc-registration/xc-integration.md: index.md
        builders/interoperability/xcm/xc20/index.md: index.md
        builders/interoperability/xcm/xc20/interact.md: index.md
        builders/interoperability/xcm/xc20/overview.md: index.md
        builders/interoperability/xcm/xc20/xtokens.md: index.md
        builders/interoperability/xcm/xcm-sdk/index.md: index.md
        builders/interoperability/xcm/xcm-sdk/v0/index.md: index.md
        builders/interoperability/xcm/xcm-sdk/v0/reference.md: index.md
        builders/interoperability/xcm/xcm-sdk/v0/xcm-sdk.md: index.md
        builders/interoperability/xcm/xcm-sdk/v1/index.md: index.md
        builders/interoperability/xcm/xcm-sdk/v1/reference.md: index.md
        builders/interoperability/xcm/xcm-sdk/v1/xcm-sdk.md: index.md
        builders/interoperability/xcm/xcm-transactor.md: index.md
        builders/build/eth-api/libraries/ethersjs.md: builders/libraries/ethersjs.md
        builders/build/eth-api/libraries/ethersrs.md: builders/libraries/ethersrs.md
        builders/build/eth-api/libraries/index.md: builders/libraries/index.md
        builders/build/eth-api/libraries/viem.md: builders/libraries/viem.md
        builders/build/eth-api/libraries/web3js.md: builders/libraries/web3js.md
        builders/build/eth-api/libraries/web3py.md: builders/libraries/web3py.md
        builders/pallets-precompiles/index.md: index.md
        builders/pallets-precompiles/pallets/conviction-voting.md: index.md
        builders/pallets-precompiles/pallets/identity.md: index.md
        builders/pallets-precompiles/pallets/index.md: index.md
        builders/pallets-precompiles/pallets/multisig.md: index.md
        builders/pallets-precompiles/pallets/preimage.md: index.md
        builders/pallets-precompiles/pallets/proxy.md: index.md
        builders/pallets-precompiles/pallets/randomness.md: index.md
        builders/pallets-precompiles/pallets/referenda.md: index.md
        builders/pallets-precompiles/pallets/staking.md: index.md
        builders/pallets-precompiles/pallets/utility.md: index.md
        builders/pallets-precompiles/precompiles/author-mapping.md: index.md
        builders/pallets-precompiles/precompiles/batch.md: index.md
        builders/pallets-precompiles/precompiles/call-permit.md: index.md
        builders/pallets-precompiles/precompiles/collective.md: index.md
        builders/pallets-precompiles/precompiles/conviction-voting.md: index.md
        builders/pallets-precompiles/precompiles/erc20.md: index.md
        builders/pallets-precompiles/precompiles/eth-mainnet.md: index.md
        builders/pallets-precompiles/precompiles/gmp.md: index.md
        builders/pallets-precompiles/precompiles/identity.md: index.md
        builders/pallets-precompiles/precompiles/index.md: index.md
        builders/pallets-precompiles/precompiles/overview.md: index.md
        builders/pallets-precompiles/precompiles/preimage.md: index.md
        builders/pallets-precompiles/precompiles/proxy.md: index.md
        builders/pallets-precompiles/precompiles/randomness.md: index.md
        builders/pallets-precompiles/precompiles/referenda.md: index.md
        builders/pallets-precompiles/precompiles/registry.md: index.md
        builders/pallets-precompiles/precompiles/staking.md: index.md
        builders/pallets-precompiles/precompiles/xcm-utils.md: index.md
        learn/dapps-list/dapp-radar.md: index.md
        learn/dapps-list/index.md: index.md
        learn/dapps-list/state-of-the-dapps.md: index.md
        learn/features/consensus.md: index.md
        learn/features/eth-compatibility.md: index.md
        learn/features/governance.md: index.md
        learn/features/index.md: index.md
        learn/features/randomness.md: index.md
        learn/features/staking.md: index.md
        learn/features/treasury.md: index.md
        learn/features/unified-accounts.md: index.md
        learn/features/xchain-plans.md: index.md
        learn/index.md: index.md
        learn/platform/code.md: index.md
        learn/platform/glossary.md: index.md
        learn/platform/index.md: index.md
        learn/platform/links.md: index.md
        learn/platform/networks/index.md: index.md
        learn/platform/networks/moonbase.md: index.md
        learn/platform/networks/moonbeam.md: index.md
        learn/platform/networks/moonriver.md: index.md
        learn/platform/networks/overview.md: index.md
        learn/platform/technology.md: index.md
        learn/platform/tokens.md: index.md
        learn/platform/vision.md: index.md
        learn/platform/why-polkadot.md: index.md
        node-operators/index.md: index.md
        node-operators/indexer-nodes/index.md: index.md
        node-operators/indexer-nodes/thegraph-node.md: index.md
        node-operators/networks/collators/account-management.md: index.md
        node-operators/networks/collators/activities.md: index.md
        node-operators/networks/collators/faq.md: index.md
        node-operators/networks/collators/index.md: index.md
        node-operators/networks/collators/orbiter.md: index.md
        node-operators/networks/collators/overview.md: index.md
        node-operators/networks/collators/requirements.md: index.md
        node-operators/networks/index.md: index.md
        node-operators/networks/run-a-node/compile-binary.md: index.md
        node-operators/networks/run-a-node/docker.md: index.md
        node-operators/networks/run-a-node/flags.md: index.md
        node-operators/networks/run-a-node/index.md: index.md
        node-operators/networks/run-a-node/overview.md: index.md
        node-operators/networks/run-a-node/systemd.md: index.md
        node-operators/networks/tracing-node.md: index.md
        node-operators/oracle-nodes/index.md: index.md
        node-operators/oracle-nodes/node-chainlink.md: index.md
        tokens/connect/coinbase-wallet.md: index.md
        tokens/connect/index.md: index.md
        tokens/connect/ledger/ethereum.md: index.md
        tokens/connect/ledger/index.md: index.md
        tokens/connect/ledger/moonbeam.md: index.md
        tokens/connect/ledger/moonriver.md: index.md
        tokens/connect/mathwallet.md: index.md
        tokens/connect/metamask.md: index.md
        tokens/connect/polkadotjs.md: index.md
        tokens/connect/subwallet.md: index.md
        tokens/connect/talisman.md: index.md
        tokens/connect/trezor.md: index.md
        tokens/governance/index.md: index.md
        tokens/governance/proposals.md: index.md
        tokens/governance/treasury-spend.md: index.md
        tokens/governance/voting.md: index.md
        tokens/index.md: index.md
        tokens/manage/identity.md: index.md
        tokens/manage/index.md: index.md
        tokens/manage/multisig-safe.md: index.md
        tokens/manage/proxy-accounts.md: index.md
        tokens/staking/index.md: index.md
        tokens/staking/stake.md: index.md
        tutorials/eth-api/chat-gpt.md: index.md
        tutorials/eth-api/foundry-start-to-end.md: index.md
        tutorials/eth-api/get-started.index.md: index.md
        tutorials/eth-api/hardhat-start-to-end.md: index.md
  - macros:
      include_yaml:
        - moonbeam-docs-cn/variables.yml
extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/PfpUATX
      name: Discord
    - icon: fontawesome/brands/telegram
      link: https://t.me/Moonbeam_Official
      name: Telegram
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/MoonbeamNetwork
      name: Twitter
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/c/MoonbeamNetwork
      name: YouTube
    - icon: fontawesome/brands/github
      link: https://github.com/moonbeam-foundation/moonbeam
      name: GitHub
  analytics:
    provider: google
    property: G-5ZBERCXWC3
    feedback:
      title: 此页面是否有帮助?
      ratings:
        - icon: material/thumb-up
          label: 是的
          name: 此页面很有帮助
          data: 1
          note: >-
            感谢您的反馈意见!
        - icon: material/thumb-down
          label: 不
          name: 此页面有待改进
          data: 0
          note: >-
            感谢您的反馈意见! 您还可以通过提交<a href="https://github.com/moonbeam-foundation/moonbeam-docs-cn/issues/new/?title=[Feedback]+{title}+-+{url}" target="_blank" rel="noopener">其他反馈</a>帮助我们改进此页面。
