[data-termynal] {
    width: 750px;
    max-width: 100%;
    background: #101010;
    color: #eee;
    font-size: 13px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    border-radius: 4px;
    padding: 50px 30px 20px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

[data-termynal]:before {
    content: '';
    position: absolute;
    top: 13px;
    left: 13px;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #d9515d;
    -webkit-box-shadow: 22.5px 0 0 #f4c025, 45px 0 0 #3ec930;
            box-shadow: 22.5px 0 0 #f4c025, 45px 0 0 #3ec930;
}

[data-termynal]:after {
    content: 'bash';
    position: absolute;
    color: #a2a2a2;
    top: 6px;
    left: 0;
    width: 100%;
    text-align: center;
}

[data-ty] {
    display: block;
    line-height: 1.25;
    overflow-wrap: break-word;
    white-space-collapse: preserve;
}

[data-ty]:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}

[data-ty="input"]:before,
[data-ty-prompt]:before {
    color: #53cbc9;
    content: 'moonbeam@ubuntu-jammy:';
    size: 14px;
}

.file-path:before {
    content: '~$';
    color: #E1147B;
    margin-right: 0.75em;
}

[data-ty][data-ty-prompt]:before {
    content: attr(data-ty-prompt);
}
